<!DOCTYPE html>
<html>

<head>
  <title>pixel-art-site</title>
</head>

<body>
  <h1>pixel-art-site</h1>

  <p>
    {% if session.user_id %}
    <a href="/logout">Log out</a> |
    <a href="/submit">Create post</a>
    {% else %}
    <a href="/register">Sign up</a> |
    <a href="/login">Sign in</a>
    {% endif %}
  </p>

  <hr />
  {% for post in posts %}
  <p>
    <a href="/post/{{ post.id }}">{{ post.title }}</a>
    <br />
    {{ post.total }} viestiä, uusin {{ post.last }}
  </p>
  <hr />
  {% endfor %}
</body>

</html>