<!DOCTYPE html>
<html>

<head>
  <title>{{ post.title }}</title>
</head>

<body>
  <h1>{{ post.title }}</h1>

  <p>Luonut: <a href="/user/{{ post.user_id }}">{{ user }}</a></p>

  <img src="{{ url_for('get_post_image', post_id=post.id) }}" alt="Post Image">

  <p>Tagit: 
    {% for tag in tags %}
      <span>{{ tag.name }}</span>{% if not loop.last %}, {% endif %}
    {% endfor %}
  </p>

  <hr />
  {% for comment in comments %}
  <p id="{{ comment.id }}">
    <a href="/user/{{ comment.user_id }}">{{ comment.username }}</a> ({{ comment.sent_at }}):
  </p>
  <p>
    {{ comment.content }}
  </p>
  {% if comment.user_id == session.user_id %}
  <p>
    <a href="/edit/{{ comment.id }}">Muokkaa</a> |
    <a href="/remove/{{ comment.id }}">Poista</a>
  </p>
  {% endif %}
  <hr />
  {% endfor %}

  {% if session.user_id %}
  <h2>Uusi viesti</h2>

  <form action="/new_comment" method="post">
    <p>
      Viesti:<br />
      <textarea name="content" rows="5" cols="40" maxlength="5000"> </textarea>
    </p>
    <input type="hidden" name="post_id" value="{{ post.id }}" />
    <input type="submit" value="Lähetä" />
  </form>
  <hr />
  {% endif %}

  <p>
    <a href="/">Etusivulle</a>
  </p>
</body>

</html>