<!DOCTYPE html>
<html>

<head>
  <title>New post</title>
</head>

<body>
  <h1>New post</h1>

  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}

  {% if session.user_id %}
  <h2>Uusi ketju</h2>

  <form action="/new_post" method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <p>
      Otsikko:<br />
      <input type="text" name="title" maxlength="100" required />
    </p>
    <p>
      Lisää kuva (vain PNG):<br />
      <input type="file" name="image" accept="image/png" required />
    </p>
    <p>
      Tagit (pilkulla erotettuna):<br />
      <input type="text" name="tags" />
    </p>
    <input type="submit" value="Lähetä" />
  </form>
  {% else %}
  <a href="/login">Log in to create a new post</a>
  {% endif %}
</body>

</html>
